# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
.next/
out/
*.tsbuildinfo

# Turborepo
.turbo/
.env



# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage/
.nyc_output/
playwright-report/
test-results/

# Prisma
prisma/*.db
prisma/migrations/dev/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# Uploads / temp
uploads/
tmp/
*.pem

# Sentry
.sentryclirc

.venv
__pycache__
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
terraform.tfvars
terraform.tfvars.json

# Local Plans
terraform_plan.md
task.md
